.grid-item {
  text-align: left;
  display: inline-block;
  margin: 15px 13px;
}

.grid-item img {
  height: 350px;
}

.add-btn {
  border: 1px solid black;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.add-btn:hover {
  background-color: black;
  color: white;
}
