.grid-item {
  text-align: left;
  display: inline-block;
  margin: 15px 13px;
}

.grid-item img {
  height: 350px;
}

.add-btn {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.add-btn:hover {
  background-color: black;
  color: white;
}

.name {
  margin: 10px 0;
}

.type-price {
  margin: 10px 0;
}

.type-price p,
.type-price h4 {
  padding: 10px 0;
}

.type-price p {
  font-weight: lighter;
}
