.header {
  background-color: #d9d9d9;
  padding: 25px 0;
}

.header h1 {
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  margin: 0 10px;
}

.header a {
  text-decoration: none;
  color: black;
}

.logo {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20%;
}

.profile {
  margin: 0 20px 0 0;
}

.profile p,
.shopping p {
  padding: 12px 0;
}

.quantity {
  background-color: white;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto 0 auto 5px;
}

.quantity p {
  padding: 5px 10px;
}
