.navbar {
  background-color: #d9d9d9;
  padding: 25px 0 15px 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}
